TUCAPPLICATIONMESSAGE	BITMAP "UCAppMessage.bmp"
TUCSETTINGS		BITMAP "UCSettings.bmp"
TUCCONTROLS		BITMAP "UCControls.bmp"
TMAILUSERCONTROL	BITMAP "UCMail.bmp"
TUCXPSTYLE		BITMAP "UCXp.bmp"
TUCIDLE			BITMAP "UCIdle.bmp"
TUSERCONTROL		BITMAP "UCMain.bmp"
TUCADOCONN		BITMAP "UCADOConn.bmp"
TUCIBXCONN		BITMAP "UCIBXConn.bmp"
TUCBDECONN		BITMAP "UCBDEConn.bmp"
TUCDBXCONN		BITMAP "UCDBXConn.bmp"
TUCIBOCONN		BITMAP "UCIBOConn.bmp"
TUCFIBCONN		BITMAP "UCFIBConn.bmp"
TUCZEOSCONN		BITMAP "UCZEOSConn.bmp"
TUCASTACONN		BITMAP "UCASTAConn.bmp"
TUCDBISAMCONN		BITMAP "UCDBISAMConn.bmp"
TUCMDOCONN		BITMAP "UCMDOConn.bmp"
TUCMYDACCONN		BITMAP "UCMyDACConn.bmp"
TUCMYSQLDACCONN		BITMAP "UCMySQLDACConn.bmp"
TUCMIDASCONN		BITMAP "UCMidasConn.bmp"
TUCHISTORICO		BITMAP "UcHistorico.bmp"