__history
__recovery
*.dcu
*.cfg
*.dof
*.local
/Lib/Delphi
/*.patch
/log_Delphi_10.4_Sydney.txt
/Projetos/UCSWInstall/Fonte/UCSWInstall.identcache
/UCSWInstall.ini
/Exemplos/Apli_Zeos/fontes/*.exe
/Exemplos/Apli_Firedac/fontes/*.identcache
/Exemplos/Apli_Zeos/fontes/*.identcache
/Exemplos/Apli_DBX/fontes/*.identcache
/Exemplos/Apli_DBX/fontes/*.exe
/Packages/Base/lib/x86_64-win64/EnvMsgForm_U.lfm
/Packages/Base/lib/x86_64-win64/EnvMsgForm_U.o
/Packages/Base/lib/x86_64-win64/EnvMsgForm_U.ppu
/Packages/Base/lib/x86_64-win64/IncPerfil_U.lfm
/Packages/Base/lib/x86_64-win64/IncPerfil_U.o
/Packages/Base/lib/x86_64-win64/IncPerfil_U.ppu
/Packages/Base/lib/x86_64-win64/IncUser_U.lfm
/Packages/Base/lib/x86_64-win64/IncUser_U.o
/Packages/Base/lib/x86_64-win64/IncUser_U.ppu
/Packages/Base/lib/x86_64-win64/LoginWindow_U.lfm
/Packages/Base/lib/x86_64-win64/LoginWindow_U.o
/Packages/Base/lib/x86_64-win64/LoginWindow_U.ppu
/Packages/Base/lib/x86_64-win64/MsgRecForm_U.lfm
/Packages/Base/lib/x86_64-win64/MsgRecForm_U.o
/Packages/Base/lib/x86_64-win64/MsgRecForm_U.ppu
/Packages/Base/lib/x86_64-win64/MsgsForm_U.lfm
/Packages/Base/lib/x86_64-win64/MsgsForm_U.o
/Packages/Base/lib/x86_64-win64/MsgsForm_U.ppu
/Packages/Base/lib/x86_64-win64/SenhaForm_U.lfm
/Packages/Base/lib/x86_64-win64/SenhaForm_U.o
/Packages/Base/lib/x86_64-win64/SenhaForm_U.ppu
/Packages/Base/lib/x86_64-win64/TrocaSenha_U.lfm
/Packages/Base/lib/x86_64-win64/TrocaSenha_U.o
/Packages/Base/lib/x86_64-win64/TrocaSenha_U.ppu
/Packages/Base/lib/x86_64-win64/UCAbout.lfm
/Packages/Base/lib/x86_64-win64/UCAbout.o
/Packages/Base/lib/x86_64-win64/UCAbout.ppu
/Packages/Base/lib/x86_64-win64/UCBase.o
/Packages/Base/lib/x86_64-win64/UCBase.ppu
/Packages/Base/lib/x86_64-win64/UCDataConnector.o
/Packages/Base/lib/x86_64-win64/UCDataConnector.ppu
/Packages/Base/lib/x86_64-win64/UCDataInfo.o
/Packages/Base/lib/x86_64-win64/UCDataInfo.ppu
/Packages/Base/lib/x86_64-win64/UCEMailForm_U.lfm
/Packages/Base/lib/x86_64-win64/UCEMailForm_U.o
/Packages/Base/lib/x86_64-win64/UCEMailForm_U.ppu
/Packages/Base/lib/x86_64-win64/UCEditorForm_U.lfm
/Packages/Base/lib/x86_64-win64/UCEditorForm_U.o
/Packages/Base/lib/x86_64-win64/UCEditorForm_U.ppu
/Packages/Base/lib/x86_64-win64/UCIdle.o
/Packages/Base/lib/x86_64-win64/UCIdle.ppu
/Packages/Base/lib/x86_64-win64/UCLock.res
/Packages/Base/lib/x86_64-win64/UCMail.o
/Packages/Base/lib/x86_64-win64/UCMail.ppu
/Packages/Base/lib/x86_64-win64/UCMessages.o
/Packages/Base/lib/x86_64-win64/UCMessages.ppu
/Packages/Base/lib/x86_64-win64/UCObjSel_U.lfm
/Packages/Base/lib/x86_64-win64/UCObjSel_U.o
/Packages/Base/lib/x86_64-win64/UCObjSel_U.ppu
/Packages/Base/lib/x86_64-win64/UCReg.o
/Packages/Base/lib/x86_64-win64/UCReg.ppu
/Packages/Base/lib/x86_64-win64/UCSettings.o
/Packages/Base/lib/x86_64-win64/UCSettings.ppu
/Packages/Base/lib/x86_64-win64/UCmd5.o
/Packages/Base/lib/x86_64-win64/UCmd5.ppu
/Packages/Base/lib/x86_64-win64/UcConsts_Language.o
/Packages/Base/lib/x86_64-win64/UcConsts_Language.ppu
/Packages/Base/lib/x86_64-win64/UcConsts_Language.rsj
/Packages/Base/lib/x86_64-win64/UserPermis_U.lfm
/Packages/Base/lib/x86_64-win64/UserPermis_U.o
/Packages/Base/lib/x86_64-win64/UserPermis_U.ppu
/Packages/Base/lib/x86_64-win64/pUCFrame_Log.lfm
/Packages/Base/lib/x86_64-win64/pUCFrame_Log.o
/Packages/Base/lib/x86_64-win64/pUCFrame_Log.ppu
/Packages/Base/lib/x86_64-win64/pUCFrame_Profile.lfm
/Packages/Base/lib/x86_64-win64/pUCFrame_Profile.o
/Packages/Base/lib/x86_64-win64/pUCFrame_Profile.ppu
/Packages/Base/lib/x86_64-win64/pUCFrame_User.lfm
/Packages/Base/lib/x86_64-win64/pUCFrame_User.o
/Packages/Base/lib/x86_64-win64/pUCFrame_User.ppu
/Packages/Base/lib/x86_64-win64/pUCGeral.lfm
/Packages/Base/lib/x86_64-win64/pUCGeral.o
/Packages/Base/lib/x86_64-win64/pUCGeral.ppu
/Packages/Base/lib/x86_64-win64/pUcFrame_UserLogged.lfm
/Packages/Base/lib/x86_64-win64/pUcFrame_UserLogged.o
/Packages/Base/lib/x86_64-win64/pUcFrame_UserLogged.ppu
/Packages/Base/lib/x86_64-win64/pckUserControlDesign.compiled
/Packages/Base/lib/x86_64-win64/pckUserControlDesign.o
/Packages/Base/lib/x86_64-win64/pckUserControlDesign.ppu
