__history
__recovery
*.dcu
*.cfg
*.dof
*.local
/Lib/Delphi
/*.patch
/log_Delphi_10.4_Sydney.txt
/Projetos/UCSWInstall/Fonte/UCSWInstall.identcache
/UCSWInstall.ini
/Exemplos/Apli_Zeos/fontes/*.exe
/Exemplos/Apli_Firedac/fontes/*.identcache
/Exemplos/Apli_Zeos/fontes/*.identcache
